.product-details {
  display: flex;
  justify-content: center;
  .product-image {
    width: 100%;
  }
  .product-list {
    box-shadow: 0 0.25rem 0.625rem rgba(66, 72, 78, 0.15);
    transition: all 300ms ease-in-out;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    .supplier-details {
      color: #878787;
      font-size: 14px;
      font-weight: 500;
    }
    .fabric-details {
      color: #040101;
      font-size: 14px;
      font-weight: 500;
    }
    .list-price {
      font-size: 16px;
      font-weight: 500;
      color: #212121;
    }
    .mrp-price {
      text-decoration: line-through;
      font-size: 14px;
      color: #878787;
    }
    .discount {
      margin-left: 5px;
      color: #388e3c;
      font-size: 13px;
      font-weight: 500;
    }
    .few-left {
      font-size: 14px;
      color: #ff6161;
      font-weight: 600;
    }
  }
}
